ca.certificate.filename=ca-key.crt
ca.keystore.filename=ca-key.p12
ca.keystore.password=
ca.key.password=

client.keystore.filename=client-key.p12
client.keystore.password=
client.key.password=

server.keystore.filename=server-key.p12
server.keystore.password=
server.key.password=
