# hostname:port
https.address=

https.wantClientAuth=true
https.needClientAuth=false
https.keystore=https-server-demo/src/test/resources/certificates/server.p12
https.keyPassword=
https.trustedCertificates=https-server-demo/src/test/resources/certificates/ca.crt

client.url=
client.key.keyStore=https-server-demo/src/test/resources/certificates/client.p12
client.key.trustedCertificates=https-server-demo/src/test/resources/certificates/ca.crt
